.gif-container {
  margin-top: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gif-container img {
  max-width: 512px;
  border-radius: 10px;
}
