.gifSearch {
  padding: 32px;
  align-items: center;
  animation-delay: 0.5s;
  animation: 1s fadeIn forwards;
  display: flex;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  height: 100vh;
  justify-content: flex-start;
  opacity: 0;
  width: 100%;
}

.gifSearch-searchInput-container {
  margin: 16px 0;
  color: rgb(57, 57, 57);
}

.gifSearch-imageContainer {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
