.gifSearch {
  padding-top: 32px;
  width: 100%;
  align-items: center;
  animation-delay: 0.5s;
  animation: 1s fadeIn forwards;
  display: flex;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  height: 100vh;
  justify-content: flex-start;
  opacity: 0;
  width: 100%;
  color: white;
  background: linear-gradient(to bottom, #b5e0d9 0%, #e6e47f 100%);
}

.gifSearch-searchInput-container {
  margin: 16px 0;
  box-shadow: rgba(255, 255, 255, 0.616) 0px 0px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 400px;
  color: rgb(122, 122, 122);
}

.gifSearch-title {
  text-align: center;
  font-size: 3rem;
  animation: 3s letterMove infinite;
}

.gifSearch-imageContainer {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  box-shadow: rgba(0, 0, 0, 0.109) 0px 3px 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
